<!DOCTYPE html>
<html>
<head>
  <title>Órdenes de Servicio</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Listado de Órdenes</h1>
  <table border="1">
    <tr>
      <th>Radicado</th><th>Fecha</th><th>Inquilino</th><th>Teléfono</th><th>Código</th><th>Descripción</th><th>Técnico</th><th>Estado</th><th>Acciones</th>
    </tr>
    <% ordenes.forEach(o => { %>
      <tr>
        <td><%= o.radicado %></td>
        <td><%= o.fecha %></td>
        <td><%= o.inquilino %></td>
        <td><%= o.telefono %></td>
        <td><%= o.codigo %></td>
        <td><%= o.descripcion %></td>
        <td><%= o.tecnico %></td>
        <td><%= o.estado %></td>
        <td><a href="/ordenes/<%= o.radicado %>">Ver</a></td>
      </tr>
    <% }) %>
  </table>
</body>
</html>