<!DOCTYPE html>
<html>
<head>
  <title>Órdenes</title>
</head>
<body>
  <h1>Listado de Órdenes</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Radicado</th>
        <th>Inquilino</th>
        <th>Teléfono</th>
        <th>Código</th>
        <th>Descripción</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <% ordenes.forEach(o => { %>
        <tr>
          <td><%= o.radicado %></td>
          <td><%= o.inquilino %></td>
          <td><%= o.telefono %></td>
          <td><%= o.codigo %></td>
          <td><%= o.descripcion %></td>
          <td><%= o.estado %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
